.price-section .container > div {
    background-color: #FFFFFF !important;
}

.recently-property {
    padding-bottom: 50px;
}

.testimonial-item {
    padding: 0 60px
}

.testimonial-review-info{
    font-size: 16px;
    line-height: 30px;
}

.titles1 p{
    font-size: 16px;
}

.toggle_style .toggle_group .toggle_inner p{
    font-size: 18px;
}

.sidebar1 div.row{
    padding: 0 30px  !important;
}

form.addProperty div.col-md-8 {
    float: none;
}

.carousel-inner .item img{
    height: 400px;
    max-height: 400px !important;
}


.recently-property-thumbnail img{
    height: 300px !important;
}

.property-detail-img .item img {
    max-height: 500px;
}


.property-detail .thumb-image img {
    max-height: 200px;
    width: auto;
}

.img-thumbnail {
    height: 200px;
}

.login {
    padding:100px;
}

.login .panel-heading{
    color:white;
    background-color: #222222;
}

.dashboard {
    padding:100px 0;
}

.dashboard .panel-heading{
    background-color: #222222;
    color:white;
}

.agentDetails p, .agentDetails b{
    font-size:24px;
}